* {
    margin: 0;
    padding: 0;
}

body {
    background: antiquewhite;
}

li>a {
    color: aliceblue;
    text-decoration: none;
}

.five-column>a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

#frame {
    width: 1280px;
    margin: 0 auto;
}

header {
    width: 1280px;
    height: 700px;
    background: url('images/intro-header.png')no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    margin: 0 auto;
    position: relative;
}

.header-background {
    position: absolute;
    width: 1280px;
    height: 700px;
    background: rgba(77, 55, 55, 0.4);
}



#nav-title {
    display: inline-block;
    float: left;
    padding: 60px 60px;
    color: aliceblue;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 60px 60px;
    color: aliceblue;

}

.description {
    margin-top: 150px;
}

.description h2 {
    padding: 80px 60px;
    color: aliceblue;
}

.description p {
    font-size: 11pt;
    color: aliceblue;
    padding: 0 60px;
    margin-right: 450px;
    line-height: 24pt;
    opacity: 0.8;
}

h3 {
    font-size: 30px;
    padding: 0 60px;
}

main h3 {
    margin-top: 100px;
}

h3 {
    margin-top: 500px;
}

.artwork {
    width: 1200px;
    /*팀 썸네일 전체 width*/
    margin: 50px auto;
    overflow: hidden;
}

.five-column {
    width: 18%;
    padding: 2px 1%;
    float: left;
}

.five-column img {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 20px 0;
    opacity: 0.5;
    transition: 1s;
}

.five-column:hover img {
    opacity: 1;
    transition: 0.5s;
}

.five-column h4 {
    text-align: center;
    font-size: 16pt;
}

.five-column p {
    text-align: center;
    font-size: 12pt;
    padding-top: 8px;
    color: rgb(100, 100, 100);
}

.guestbook {
    margin-top: 150px;
}

#guestbook {
    overflow: hidden;
    width: 1280px;
    text-align: center;
    margin: 50px auto;
    overflow: hidden;
    padding-top: 40px;
}




.top {
    text-align: center;
}

.top a {
    color: darkslategray;
}

footer {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.logo img {
    width: 10%;
    float: left;
    margin: 3% 100px;
}

.footer-box {
    /*	background-color: aqua;*/
    float: right;
    margin: 3% 100px;
    width: 750px;
}

.contact-us {
    /*	background-color:darkkhaki;*/
    text-align: right;
    font-size: 41px;
}

.footer-text {
    margin-top: 40px;
    /*	background-color: crimson;*/
    text-align: right;
    font-size: 15px;
}