* {
    margin: 0;
    padding: 0;
}

body {
    background: antiquewhite;
}

body {
    width: 1280px;
    margin: 0 auto;
}

nav {
    width: 1280px;
    height: 160px;
    background: url('images/long-header.png')no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    margin: 0 auto;
    position: relative;
}

.nav-background {
    position: absolute;
    width: 1280px;
    height: 160px;
    background: rgba(0, 0, 0, 0.5);
}


#nav-title {
    display: inline-block;
    float: left;
    padding: 60px 60px;
    color: aliceblue;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 60px 60px;
    color: aliceblue;
}

.description {
    /*    border: 1px dotted gray;*/
    margin-top: 50px;
}


.description p {
    font-size: 11pt;
    padding: 0 60px;
    line-height: 18pt;
    margin-right: 450px;
}

.header-title h3 {
    display: inline-block;
    font-size: 30px;
    padding: 0 60px;
}

.header-title p {
    margin: 10px 10px 20px 0;
}

.face {

    display: inline-block;
    margin-top: -90px;
    float: right;
}

.face img {
    display: inline-block;
    margin: 5px;
    margin-right: 40px;
    width: 80px;
    width: 80px;
    background: rgb(234, 218, 222);
    border-radius: 180px;

}


.artwork {
    margin: 100px 0 100px 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.artwork iframe {
    /* width: 1080px;
    height: 900px; */
}



.top {
    text-align: center;
}

.top a {
    color: darkslategray;
}

footer {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.logo img {
    width: 10%;
    float: left;
    margin: 3% 100px;
}

.footer-box {
    /*	background-color: aqua;*/
    float: right;
    margin: 3% 100px;
    width: 750px;
}

.contact-us {
    /*	background-color:darkkhaki;*/
    text-align: right;
    font-size: 41px;
}

.footer-text {
    margin-top: 40px;
    /*	background-color: crimson;*/
    text-align: right;
    font-size: 15px;
}