.whole-frame {
  position: relative;
    margin: 0px auto;
    width:900px;
    height:600px;   
}


.frame3 {
    position:absolute;
    margin: 0px auto;
    top:0px;
    width:900px;
    height:800px;
}

.background {
     position:absolute;
    z-index: -2;
}


.bus {
    position: absolute;
    bottom: 285px;
    right: 3px;
    z-index: 1;
    transition:all 0.3s;
    transition-duration: 1s;
}

.bus:hover {
    transform: scale(0.9) translateX(-200px);
}

.johyungE-3 {
      position: absolute;
    bottom:90px;
    right: 3px;
    z-index: 0;
    transition-duration: 1s;
    transform: scale(0.3);
    opacity:1;
}

.bus:hover + .johyungE-3 {
    transform: scale(0.7) translateY(-150px);
}


.carrier {
    position: absolute;
    top:340px;
    left:155px;
    z-index: 1;
    transition: all 0.3s;
}

.carrier:hover {
    transform: translateX(-30px);
}

.flower1 {
    position: absolute;
    bottom: 195px;
    left:190px;
    z-index: 2;
}

.flower2 {
    position: absolute;
    bottom: 280px;
    left: 240px;
    z-index: 1;
}

.flower3 {
    position: absolute;
    right:250px;
    bottom:280px;
    z-index: 1;
}

.flower4 {
    position: absolute;
right:200px;
    bottom:197px;
    z-index: 1;
}
.flower-tape {
    position: absolute;
    bottom: 195px;
    z-index: 0;
}

.head {
    position: absolute;
    top:100px;
    left:300px;
    z-index: 4;
    transition: all 0.3s;
    transition-duration: 1s;
}

.head:hover {
    transform: translateX(-250px);
    
}

.end {
    position: absolute;
    color: blueviolet;
    top:405px;
    font-size: 20px;
    right: 39px;
    z-index: 0;
}

.hoodie {
    position: absolute;
    bottom: 195px;
    left: 285px;
    z-index: 3;
}

.johyung {
    position: absolute;
    z-index: 10;
    top:140px;
    left: 360px;
    z-index: 3;
}

.mirror {
    position: absolute;
    bottom: 195px;
    left:120px;
}

.miso {
    position: absolute;
    top: 170px;
    right: 20px;
    z-index: -1;
}

.rail {
    position: absolute;
    bottom:195px;
}

.string {
    mix-blend-mode: multiply;
    top:7px;
    position: absolute;
}

.train {
    position: absolute;
    top: 1px;
    transition-duration: 0.5s;
}

.train:hover {
    transform: rotate(3deg) translateX(3px) translateY(30px);
}

footer {
    margin:0px;
    position:relative;
    bottom: 0px;
}

h5 {
    text-align: center;
    font-size: 11px;
    margin:30px 0px 0px  0px;
}